html {
  height: 0%;
  min-height: 100%;
  position: relative; }

body {
  background-color: #4b116f;
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#5d2a7d, #4b116f);
  /* Standard syntax */
  color: #ffffff;
  height: 100%;
  min-height: 500px; }

.container {
  height: 100%; }

.footer {
  bottom: 0;
  /* Set the fixed height of the footer here */
  height: 60px;
  position: absolute;
  width: 100%; }

#links {
  height: 70%; }

a, a:visited {
  color: #ffffff;
  transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  text-decoration: none; }

a:hover {
  color: #FFF176;
  transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  text-decoration: none; }

.tooltip .tooltip-arrow {
  border-bottom: 5px solid #ffffff !important; }

.tooltip-inner {
  background-color: #ffffff;
  color: #4b116f; }

.vertical-align {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  /* Optional, to align inner items 
                              horizontally inside the column */ }
